<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login - Project Hub</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/styles/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/styles/css/animate.css">
    
    <link rel="stylesheet" href="/styles/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/styles/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/styles/css/magnific-popup.css">

    <link rel="stylesheet" href="/styles/css/aos.css">

    <link rel="stylesheet" href="/styles/css/ionicons.min.css">
    
    <link rel="stylesheet" href="/styles/css/flaticon.css">
    <link rel="stylesheet" href="/styles/css/icomoon.css">
    <link rel="stylesheet" href="/styles/css/style.css" type="text/css">

    <script src="/styles/js/jquery.min.js"></script>
    <script src="/styles/js/jquery-migrate-3.0.1.min.js"></script>
    
  </head>
  <body>
  <div style="background-color: midnightblue;">
    <div class="bg-top navbar-light" style="width: 100%">
      <div class="container">
        <div class="row no-gutters d-flex align-items-center align-items-stretch">
          <div class="col-md-4 d-flex align-items-center py-4">
            <a class="navbar-brand" style="color: whitesmoke" href="/">Project Hub<span>FR.CRCE</span></a>
          </div>
          <div class="col-lg-8 d-block">
            <div class="row d-flex">
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark ftco-navbar-light" id="ftco-navbar" style="width:100%">
      <div class="container d-flex align-items-center px-4">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="oi oi-menu" style="font-size: 30px">Menu</span> 
        </button>
        <div class="collapse navbar-collapse" id="ftco-nav">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item"><a href="/" class="nav-link pl-0" style="font-size: 20px">Home</a></li>
            <li class="nav-item"><a href="/projects" class="nav-link" style="font-size: 20px">Projects</a></li>
            <li class="nav-item active"><a href="/login" class="nav-link" style="font-size: 20px">Login</a></li>
            <li class="nav-item"><a href="/register" class="nav-link" style="font-size: 20px">Register</a></li>
          </ul>
        </div>
      </div>
      <br>
    </nav>

      <!-- END nav -->
  
		<section class="ftco-section ftco-no-pt ftco-no-pb contact-section">
			<div class="container" style="padding-bottom: 150px">
				<div class="row d-flex align-items-stretch no-gutters" >
					<div class="col-md-12 p-4 p-md-5 order-md-last bg-light">
            <% if(msg != ''){ %>
              <label style="background-color: orangered; color:whitesmoke; font-size: 25px" class="px-3 py-3"><%= msg %></label>
            <% } %>
						<form action='/login' method="post">
              
              <div class="form-group">
                <span>Username</span>
                <input type="text" name="username" style="border-radius: 25px; padding: 10px" placeholder="Enter username" required>
              </div>
              <div class="form-group">
                <span>Password</span>
                <input type="password" name="password" style="border-radius: 25px; padding: 10px" placeholder="Enter password" required>
              </div>

              <div class = "form-group">
                <span>Role</span>
                <select name="role" class="btn btn-primary px-5 py-3" required>
                    <option value="student">Student</option>
                    <option value='teacher'>Teacher</option>
                    <option value='admin'>Admin</option>
                  </select><sup style="font-size: 25px;">*</sup>
              </div>
              
              <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary py-3 px-5">
              </div>
            </form>
            <a href="/register">Not a user? Register Now!</a>
      </div>
      </div>
    </div>
    </section>
    <br>
    <br>

  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>
</div>

<script>
  
  $('input').focus(function(){
   $(this).css('background-color','orange');
 });

 $('input').blur(function(){
   $(this).css('background-color','white');
 }); 
 
 </script>
<script src="/styles/js/popper.min.js"></script>
<script src="/styles/js/bootstrap.min.js"></script>
<script src="/styles/js/jquery.easing.1.3.js"></script>
<script src="/styles/js/jquery.waypoints.min.js"></script>
<script src="/styles/js/jquery.stellar.min.js"></script>
<script src="/styles/js/owl.carousel.min.js"></script>
<script src="/styles/js/jquery.magnific-popup.min.js"></script>
<script src="/styles/js/aos.js"></script>
<script src="/styles/js/jquery.animateNumber.min.js"></script>
<script src="/styles/js/scrollax.min.js"></script>
<script src="/styles/js/main.js"></script>
   
  </body>
</html>